:root {
    font: 20px "DM Sans", sans-serif;
    font-weight: 400;

    color-scheme: light dark;

    --body-padding: 24px;

   

}

@media (prefers-color-scheme: light) {
    :root {
        --color-surface-default: white;
        --color-surface-shy: rgb(247, 247, 247);
        --color-surface-inverted: #111111;
        --color-surface-accent: #C1B9F8;
        --color-surface-accent-bold: #1C1555;
        --color-surface-alert: #e61111;


        --color-foreground-default: #333;
        --color-foreground-subtle: #B0B0B0;
        --color-foreground-inverted: white;
        --color-foreground-subtle-inverted: #B0B0B0;


        --color-border: #AEAEAE;
        --color-border-accent: rgba(29, 22, 86, 0.38);

        --color-link: #4550E9;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
        --color-surface-default: #101010;
        --color-surface-shy: rgb(39 39 39);
        --color-surface-inverted: white;
        --color-surface-accent: #453F73;
        --color-surface-accent-bold: #09071d;
        --color-surface-alert: #dc3939;


        --color-foreground-default: white;
        --color-foreground-subtle: #3d3d3d;
        --color-foreground-inverted: #333;
        --color-foreground-subtle-inverted: #B0B0B0;

        --color-border: #3a3a3a;
        --color-border-accent: rgb(137 132 179 / 38%);

        --color-link: #4550E9;
    }
  }

@media (width < 600px) { 
    :root {
     --body-padding: 16px;
    } 
 }

 @keyframes coverfrombottom {
    0% {
        transform: scaleY(1);
        transform-origin: top;
    }
    100% {
        transform: scaleY(0);
        transform-origin: top;
        display: none;

    }
  }

  @keyframes fadeInUp {
    0% {
        transform:translateY(100%);
        opacity: 0;
    }
    100% {
        transform:translateY(0);
        opacity: 1;

    }
  }

  @keyframes scaleUp {
    0% {
        transform:scale(0.6);
        opacity: 0;
    }
    100% {
        transform:scale(1);
        opacity: 1;

    }
  }

 body {
    background-color: var(--color-surface-default);
    color: var(--color-foreground-default)
 }

ul {
    padding-inline-start: 0;
}

h1 {
    font: 400 3.6rem/3.6rem "Merriweather", serif;
    width: 60%;
    z-index: 1;
    animation: fadeInUp 0.7s cubic-bezier(0.85, 0.09, 0.15, 0.91) forwards;
    animation-delay: 0.6s;
    opacity: 0;
}

h2 {
    font: 400 2rem / 2.4rem "Merriweather", serif;
    margin-block-end: 64px;
    width: 13ch;
}

h3 {
    font-size: 1.45rem;
    font-weight: 500;
    line-height: 1.8rem;
}

main {
    margin-inline: var(--body-padding);
}

nav {
    display: inline-flex;
    justify-content: center;
    position: sticky;
    left: 50%;
    transform: translateX(-50%);
    top: 24px;
    z-index: 99;
    padding: 4px;
    border-radius: 100px;
    backdrop-filter: blur(10px); 
    font-size: 0.8rem;
    font-weight: 400;
    
    & a {
        display: inline-block;
        color: var(--color-foreground-default);
        text-decoration: none;
        align-items: center;
        padding-block: 12px;
        padding-inline: 32px;
        border-radius: 100px;
        transition: all ease 0.4s;
    }

    & a:hover {
        background-color: var(--color-surface-shy);
    }
    
    & ul {
        display: flex;
        list-style-type: none;
    }
}

.load-animation {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 100;
    animation: coverfrombottom 0.7s cubic-bezier(0.85, 0.09, 0.15, 0.91) forwards;
    animation-delay: 0.5s;


}

header {
    transform-style: preserve-3d;
    z-index: -1;
    
    & .container {
        height: 80vh;
        vertical-align: bottom;
        display: flex;
        align-items: flex-end;
        margin-block-end: 5rem;
        position: relative;
    }
    
}

section {
    margin-block-end: 10rem;
}

a {
    color: #4550E9;
    text-underline-offset: 15%;
    text-decoration-thickness: 2px;
    transition: all 200ms ease;
}

a:hover {
    text-underline-offset: 5%;

}


/* Parallax prototype */

.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    perspective: 10px;
    position: relative;
    scroll-behavior: smooth;
} 

.hero { 
    perspective: 1px; 
    transform-style: preserve-3d; 
}

.parallax {
    position: absolute;
    inset: 0;
    transform-style: preserve-3d;
    pointer-events: none;
}

.parallax__layer { 
    position: absolute; 
    inset: -10vh 0 0 0; 
    transform-style: preserve-3d; 
}

/* Depth: translateZ for parallax speeds (more negative = farther, moves slower) */
.parallax__layer--back { 
    transform: translateZ(-20px) scale(10);
}

.parallax__layer--mid { 
    transform: translateZ(-8px) scale(6);
}

.parallax__layer--mid img, 
.parallax__layer--back img,
.parallax__layer--front img {
    opacity: 0;
    display: block;
    animation: scaleUp 1.2s linear(0, 0.618 4.6%, 1.072 9.7%, 1.358 15.3%, 1.446 18.4%, 1.497 21.7%, 1.512 23.9%, 1.514 26.2%, 1.481 31.5%, 1.421 36.4%, 1.174 53.4%, 1.108 59.5%, 1.059 65.7%, 1.028 71.9%, 1.009 78.9%, 1) forwards;
}

.parallax__layer--back img {
    animation-delay: 1.2s;
    filter: blur(18px);
}

.parallax__layer--mid img {
    animation-delay: 1.6s;
}

.parallax__layer--front img {
    animation-delay: 2s;
}

.dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-surface-default);
    opacity: 0.2;

}

.pimg {
  position: absolute;
  height: auto;
  will-change: transform;
}



/* Position each image within the same layer */
.pimg--1 { 
    top: 10%; 
    left: 8%; 
}
.pimg--2 { 
    top: 80%;
    left: 60%; 
}

.pimg--3 { 
    top: 20%;
    left: 106%;
}
.pimg--4 { 
    top: 105%;
    left: 28%;
}

.pimg--5 { 
    top: 0%;
    left: -11%;
}
.pimg--6 { 
    top: 75%; 
    left: 80%; 
}
.pimg--7 { 
    top: 0%;
    left: 76%;
}
.pimg--8 { 
    top: 76%;
    left: 80%;
}
.pimg--9 { 
    top: 40%;
    left: 53%;
}

/* End parallax css */



.margin-inline {
    margin-inline: var(--body-padding);
}

.caption {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-block-end:1rem;
}

.container {
    max-width: 1400px;
    margin-inline: auto;
}

.my-story {
    border-radius: 32px;
    padding-block-start: 64px;
    background-color: var(--color-surface-accent);
    position: relative;
    overflow: hidden;
}

.stories-title {
    position: sticky;
    left: 0;
    padding-inline: 64px;
}

.story-scroll {
    overflow-x: scroll;
    scrollbar-color: #1C1555 rgba(0,0,0,0);
    scrollbar-width: thin;
    position:relative;
    display: flex;
    gap: 32px;
    margin-block-start: 6rem;
    padding-inline: 64px;
    scroll-padding-inline: 64px;
    

}

.my-story::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: "";    
    background-image: linear-gradient(89deg, rgba(28, 21, 85, 0.00) 61.99%, var(--color-surface-accent-bold) 119.35%);
    pointer-events: none;

}

.story-item:first-child{
    border: none;
    padding-inline-start: 0;
}

.story-item {
    list-style-type: none;
    flex-basis: 20rem;
    flex-shrink: 0;
    border-inline-start: 1px dashed var(--color-border-accent);
    padding-block-end: 56px;
    padding-inline-start: 16px;
    scroll-snap-align: start;

    & .caption::before {
        content: "";
        display: inline-block;
        border-radius: 100px;
        width: 8px;
        height: 8px;
        background-color: var(--color-surface-alert);
        margin-inline-end: 8px;
    }
}

.card-item {
    & .img-container {
        overflow: hidden;
        border-radius: 12px;        /* optional */
        margin-block-end: 1.8rem;

        & img {
            display: block;
            width: 100%;
            height: 100%;               /* fill the container */
            object-fit: cover;          /* crop instead of stretch */
            transform-origin: center;
            transition: all 300ms ease;
            filter:contrast(100%);
        }
    }

    & a {
        display: block;
        margin-block-start: 16px;
    }
}

.canmore {
    aspect-ratio: 8 / 6;
}

.absence {
    aspect-ratio: 9 / 11;
}

.brewed {
    aspect-ratio: 8 / 5;
}

.food {
    aspect-ratio: 6 / 7;
}




.card-item:hover img {
    transform: scale(1.06);
    filter:contrast(120%);
}

.card-container {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);

    & h3 {
        margin-block-end: 1rem;
    }

}

.fact-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* desktop */
    gap: 0 24px;
    list-style: none;
    padding-inline-start: 0;

}

.fact-item {
    display: flex;
    font-size: 1.45rem;
    font-weight: 500;
    line-height: 1.8rem;
    padding-block: 32px;
    border-block-start: 1px solid var(--color-border);
    position: relative;
    overflow: hidden;
    transition: padding-inline-start 220ms ease, color 200ms ease;
    min-height: 2lh;
    box-sizing: content-box;
}

/* Generic overlay for image-on-hover effect */
.fact-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    opacity: 0;
    transform: scale(1.02);
    transition: opacity 260ms ease, transform 380ms ease;
    z-index: 0;
    pointer-events: none;
    background-size: cover;
    z-index:-1;
}

/* Ensure text sits above the overlay */
.fact-item > * {
    position: relative;
    z-index: 1;
}

/* Variant: Oslo image */
.fact-item.oslo::before {
    background-image: url("../images/Oslo.png");
}

.fact-item.gbg::before {
    background-image: url("../images/gbg.png");

}

.fact-item.elsa::before {
    background-image: url("../images/elsa.png");

}

.fact-item.beer::before {
    background-image: url("../images/beer.png");

}

.fact-item.xray::before {
    background-image: url("../images/xray.png");
}

.fact-item.danish::before {
    background-image: url("../images/danish.png");

}

.hovered {
    display: none;
    opacity: 0;
    transition: opacity 260ms ease;
}

.resting {
    display: inline;
    opacity: 1;
    transition: opacity 260ms ease;
}

/* Hover: reveal image, grow it, and nudge text */
.fact-item:hover {
    color: white;
    padding-inline-start: 12px;
    border-radius: 8px;

    & span {
        color: white;
    }

    & .hovered {
        display: inline;
        opacity: 1;
    }
    & .resting {
        display: none;
        opacity: 0;
    }

}
.fact-item:hover::before {
    opacity: 1;
    transform: scale(1.08);
}
.fact-item:hover::after { opacity: 1; }

/* Desktop: apply last-row border only above 900px */


.fact-item .number {
    display: block;
    color: var(--color-foreground-subtle);
    width: 1.8rem;
    margin-inline-end: 1.1rem;
}

footer {
    background-color: var(--color-surface-inverted);
    color:var(--color-foreground-inverted);
    padding-inline: var(--body-padding);
    padding-block: 130px;

    & span {
        color: var(--color-foreground-subtle-inverted);
    }
}


@media (width > 901px) {
    .fact-item:nth-last-child(-n + 3) {
        border-block-end: 1px solid #AEAEAE;
    }
}
/* Tablet: 2 columns */
@media (width < 900px) {
    h1 {
        width: 100%;
    }

    nav {
        display: none;
    }
    
    .fact-list { 
        grid-template-columns: repeat(2, 1fr); 
    }

    .fact-item {
        border-block-end: 0;
    }

    .fact-item:nth-last-child(-n + 2) { 
        border-block-end: 1px solid var(--color-border);
    }


  }

  /* Mobile: 1 column */
@media (width < 600px) {

    :root {
        font-size: 18px;
    }

    h1 {
        font-size: 2.8rem;
        line-height: 3.2rem;
    }

    h2 {
        font-size: 1.9rem;
        margin-block-end: 48px;
    }

    .caption {
        font-size: 0.6rem;
        margin-block-end: 0.5rem;
    }

    .my-story {
        border-radius: 32px;
        padding-block-start: 36px;
    }

    .story-list {
        padding-inline: 36px;
        margin-block-start: 3rem;
    }

    .story-list:firstchild {
        border:0;
    }

    .story-item {
        flex-basis: 15rem;
    }
    
    .stories-title {
        position: sticky;
        left: 0;
        padding-inline: 36px;
    }

    .card-container {
        grid-template-columns: 1fr;
        gap:88px;
    }

    .fact-list { 
        grid-template-columns: 1fr;
    }
    
    .fact-item {
        border-block-end: 0; 
    }

    .fact-item:last-child {
        border-block-end: 1px solid #AEAEAE;
    }

    .pimg--8,
    .pimg--7 {
        display:none;
    }
    .pimg--9 {
        top: 12%;
        left: 53%;
    }

     .pimg--5 {
        top: 0%;
        left: -61%;
     }
  }



@media (width < 400px) { 
    h2 {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    .card-container {
        grid-template-columns: 1fr;
        gap:56px;
    }

    .my-story {
        padding-block: 36px;
    }
    .story-scroll {
        flex-direction: column;
        padding-inline: 0;
        margin-block-start: 0;
    }

    .story-item {
        border-inline-start:0;
        border-block-start: 1px dashed rgba(29, 22, 86, 0.38);
        margin-inline-start: 32px;
        padding-inline-end: 36px;
        padding-inline-start: 0;
        padding-block-start: 16px;
        padding-block-end: 0;
        flex-basis:auto;
        flex-shrink: 0;
    }


}